{% extends 'topbar.html' %}

{% load static %}
{% block nav_dashboard %}class="nav-item"{% endblock %}
{% block nav_teleop %}class="nav-item"{% endblock %}
{% block nav_navigation %}class="nav-item"{% endblock %}
{% block nav_smarthome %}class="nav-item"{% endblock %}
{% block nav_health %}class="nav-item active"{% endblock %}

{% block page_content %}
<div class="container-fluid">
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-center text-gray-800">YOUR HEALTH DATA SUMMARY</h1>
        <!-- <a href="#" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i
            class="fas fa-download fa-sm text-white-50"></i> Generate Report</a> -->
    </div>
    <div>
        <p>
        <h2>Health data</h2>
        </p>
    </div>
</div>
{% endblock page_content %}