{% extends 'topbar.html' %}

{% load static %}
{% block nav_dashboard %}class="nav-item"{% endblock %}
{% block nav_teleop %}class="nav-item"{% endblock %}
{% block nav_navigation %}class="nav-item"{% endblock %}
{% block nav_smarthome %}class="nav-item active"{% endblock %}
{% block nav_health %}class="nav-item active"{% endblock %}
{% block nav_tasks %}class="nav-item"{% endblock %}

{% block page_content %}
<div class="container-fluid">
    <!-- <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-center text-gray-800">SMARTHOME CONTROL</h1>
    </div> -->
    <div>
        <iframe src="http://192.168.1.100:8080/basicui/app" width="100%" height="800"></iframe>
    </div>
</div>
{% endblock page_content %}