{% extends 'topbar.html' %}

{% load static %}

{% block page_content %}

<!-- ################################################## -->

<!-- Begin Page Content -->
<div id="teleop_page_content">
    <div class="row">

        <!-- Area Chart -->
        <div class="col-xl-8 col-lg-7">
            <div class="card shadow mb-4">
                <!-- Card Header - Dropdown -->
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                    <h6 class="m-0 font-weight-bold text-primary">Robot Camera</h6>
                    <div class="dropdown no-arrow">
                        <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown"
                            aria-haspopup="true" aria-expanded="false">
                            <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
                        </a>
                        <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in"
                            aria-labelledby="dropdownMenuLink">
                            <div class="dropdown-header">Dropdown Header:</div>
                            <a class="dropdown-item" href="#">Action</a>
                            <a class="dropdown-item" href="#">Another action</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="#">Something else here</a>
                        </div>
                    </div>
                </div>
                <!-- Card Body -->
                <div class="card-body">
                    <div class="chart-area">
                        <!-- ################################################## -->
                        <!-- <canvas id="myAreaChart"></canvas> -->
                        <img class="img-responsive center-block"
                            src="http://{{ baseurl }}:8080/stream?topic=/robotis_op3/camera/image_raw" />
                        <!-- ################################################## -->
                    </div>
                </div>
            </div>
        </div>

        <!-- Pie Chart -->
        <div class="col-xl-4 col-lg-5">
            <div class="card shadow mb-4">
                <!-- Card Header - Dropdown -->
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                    <h6 class="m-0 font-weight-bold text-primary">Revenue Sources</h6>
                    <div class="dropdown no-arrow">
                        <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown"
                            aria-haspopup="true" aria-expanded="false">
                            <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
                        </a>
                        <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in"
                            aria-labelledby="dropdownMenuLink">
                            <div class="dropdown-header">Dropdown Header:</div>
                            <a class="dropdown-item" href="#">Action</a>
                            <a class="dropdown-item" href="#">Another action</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="#">Something else here</a>
                        </div>
                    </div>
                </div>
                <!-- Card Body -->
                <div class="card-body">
                    <div class="chart-pie pt-4 pb-2">
                        <canvas id="myPieChart"></canvas>
                    </div>
                    <div class="mt-4 text-center small">
                        <span class="mr-2">
                            <i class="fas fa-circle text-primary"></i> Direct
                        </span>
                        <span class="mr-2">
                            <i class="fas fa-circle text-success"></i> Social
                        </span>
                        <span class="mr-2">
                            <i class="fas fa-circle text-info"></i> Referral
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="row">

        <div class="col-xs-4">
            <div class="panel panel-success">
                <div class="panel-heading">
                    <h3 class="panel-title">Camera</h3>
                </div>
                <div class="panel-body">
                    <img class="img-responsive center-block"
                        src="http://{{ baseurl }}:8080/stream?topic=/robotis_op3/camera/image_raw" />
                    <!--/usb_cam/image_raw -->
                </div>
            </div>
        </div>

        <div class="col-xs-6">
            <div class="panel-info">
                <div class="panel-heading">
                    <h3 class="panel-title">OP3 Control</h3>
                </div>
                <div class="panel-body">
                    <!-- <link rel="stylesheet"
                        href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"> -->
                    <div class="btn-group" role="group" aria-label="...">
                        <button id="init_button" type="button" class="btn btn-default" style="font-size:20px">Initail
                            pose
                        </button>
                    </div>
                    <ul class="nav nav-pills">
                        <br>
                        <li class="active"><a data-toggle="pill" href="#actionModule">Action Module</a> </li>
                        <li><a data-toggle="pill" href="#headControlModule">Head Control Module</a></li>
                        <li><a data-toggle="pill" href="#onlineWalkingModule">Online Walking Module</a></li>
                    </ul>
                    <div class="tab-content">
                        <div id="actionModule" class="tab-pane fade in active">
                            <br>
                            <table width="100%">
                                <p>
                                <div class="btn-group" role="group" aria-label="...">
                                    <button id="action_button" type="button" class="btn btn-default"
                                        style="font-size:24px">Activate Action module </button>
                                </div>
                                </p>
                                <p>
                                <div class="btn-group" role="group" aria-label="...">
                                    <button id="stand_button" type="button" class="btn btn-default"
                                        style="font-size:24px">Stand up </button>
                                    <button id="sit_button" type="button" class="btn btn-default"
                                        style="font-size:24px">Sit
                                        down </button>
                                    <button id="walk_button" type="button" class="btn btn-default"
                                        style="font-size:24px">Walk Ready </button>
                                    <button id="thankyou_button" type="button" class="btn btn-default"
                                        style="font-size:24px">Thank you </button>
                                    <button id="stop_button" type="button" class="btn btn-default"
                                        style="font-size:24px">Stop </button>
                                </div>
                                </p>
                            </table>
                        </div>
                        <div id="headControlModule" class="tab-pane fade">
                            <br>
                            <table width="100%">
                                <p>
                                <div class="btn-group" role="group" aria-label="...">
                                    <button id="head_button" type="button" class="btn btn-default"
                                        style="font-size:24px">Activate Head module </button>
                                </div>
                                </p>
                                <tr>
                                    <td colspan="3" align="center"> <button id="headUp_button" type="button"
                                            class="btn btn-default" style="font-size:32px">Head Up <i
                                                class="fa fa-arrow-up"></i></button></td>
                                </tr>
                                <tr>
                                    <td align="center"> <button id="headLeft_button" type="button"
                                            class="btn btn-default" style="font-size:32px">Head Left <i
                                                class="fa fa-arrow-left"></i></button></td>
                                    <td align="center"> <button id="headRight_button" type="button"
                                            class="btn btn-default" style="font-size:32px">Head Right <i
                                                class="fa fa-arrow-right"></i></button>
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="3" align="center"> <button id="headDown_button" type="button"
                                            class="btn btn-default" style="font-size:32px">Head down <i
                                                class="fa fa-arrow-down"></i></button></td>
                                </tr>
                            </table>
                        </div>
                        <div id="onlineWalkingModule" class="tab-pane fade">
                            <br>
                            <table widht="100%">
                                <p>
                                <div class="btn-group" role="group" aria-label="...">
                                    <button id="online_button" type="button" class="btn btn-default"
                                        style="font-size:24px">Activate Online-Walking module </button>
                                </div>
                                </p>
                                <tr>
                                    <td align="center"> <button id="turnl_button" type="button" class="btn btn-default"
                                            style="font-size:24px">Turn Left </button></td>
                                    <td align="center"> <button id="forward_button" type="button"
                                            class="btn btn-default" style="font-size:24px">Forward <i
                                                class="fa fa-arrow-up"></i></button></td>
                                    <td align="center"> <button id="turnr_button" type="button" class="btn btn-default"
                                            style="font-size:24px">Turn Right </i></button></td>
                                </tr>
                                <tr>
                                    <td align="center"> <button id="left_button" type="button" class="btn btn-default"
                                            style="font-size:24px">Left <i class="fa fa-arrow-left"></i></button></td>
                                    <td align="center" style="width: 150px; font-size: 24px;"></td>
                                    <td align="center"> <button id="right_button" type="button" class="btn btn-default"
                                            style="font-size:24px">Right <i class="fa fa-arrow-right"></i></button></td>
                                </tr>
                                <tr>
                                    <td colspan="3" align="center"> <button id="backward_button" type="button"
                                            class="btn btn-default" style="font-size:24px">Backward <i
                                                class="fa fa-arrow-down"></i></button></td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
<!-- Begin Page Content -->

{% endblock page_content %}