{% extends 'topbar.html' %}

{% load static %}

{% block page_content %}

<!-- ################################################## -->

<!-- Begin Page Content -->
<div id="teleop_page_content">

    <!-- Page Heading -->
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">Tele control</h1>
        <!-- <a href="#" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i
                class="fas fa-download fa-sm text-white-50"></i> Generate Report</a> -->
    </div>

    <div class="row">

        <!-- Head camera column -->
        <div class="col-xl-4 col-lg-5">
            <div class="card shadow mb-4">
                <!-- Card Header - Dropdown -->
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                    <h6 class="m-0 font-weight-bold text-primary">HEAD CAMERA</h6>
                    <div class="dropdown no-arrow">
                        <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown"
                            aria-haspopup="true" aria-expanded="false">
                            <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
                        </a>
                        <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in"
                            aria-labelledby="dropdownMenuLink">
                            <div class="dropdown-header">Dropdown Header:</div>
                            <a class="dropdown-item" href="#">Action</a>
                            <a class="dropdown-item" href="#">Another action</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="#">Something else here</a>
                        </div>
                    </div>
                </div>
                <!-- Card Body -->
                <div class="card-body">
                    <!-- ################################################## -->
                    <!-- TODO: FIX BASE_URL issue -->
                    <!-- <img class="img-responsive center-block"
                                    src="http://{{ BASE_URL }}:8080/stream?topic=/robotis_op3/camera/image_raw" /> -->
                    <img class="img-fluid center-block"
                        src="http://127.0.0.1:8080/stream?topic=/robotis_op3/camera/image_raw" />
                    <!-- ################################################## -->

                </div>
            </div>
        </div>

        <!-- Area Chart -->
        <!-- <div class="col-xl-8 col-lg-7"> -->
        <div class="col-xl-4 col-lg-5">
            <div class="card shadow mb-4">
                <!-- Card Header - Dropdown -->
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                    <h6 class="m-0 font-weight-bold text-primary">HOUSE MAP</h6>
                    <!-- <div class="dropdown no-arrow">
                        <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown"
                            aria-haspopup="true" aria-expanded="false">
                            <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
                        </a>
                        <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in"
                            aria-labelledby="dropdownMenuLink">
                            <div class="dropdown-header">Dropdown Header:</div>
                            <a class="dropdown-item" href="#">Action</a>
                            <a class="dropdown-item" href="#">Another action</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="#">Something else here</a>
                        </div>
                    </div> -->
                </div>
                <!-- Card Body -->
                <div class="card-body">
                    <div class="chart-area">
                        <!-- ################################################## -->

                        <!-- TODO: FIX BASE_URL issue -->

                        <!-- <canvas id="myAreaChart"></canvas> -->
                        <!-- <img class="img-responsive center-block"
                                src="http://{{ BASE_URL }}:8080/stream?topic=/robotis_op3/camera/image_raw" /> -->

                        <!-- <img class="img-responsive center-block"
                            src="http://127.0.0.1:8080/stream?topic=/robotis_op3/camera/image_raw" /> -->

                        <!-- <img class="img-fluid  center-block" src="{% static "img/map_large.png" %}" style="width: auto; height: 300px;" alt="MAP image"> 
                                                       <img class="img-fluid  center-block" src="{% static "img/map_large.png" %}" style="width: auto; height: 300px;" alt="MAP image"> -->
                        <!-- <img class="img-fluid  center-block" src="{% static "img/map_large.png" %}"
                            style="width: auto; margin: 300 auto; height: 320px;" alt="House map image"> -->


                        <!-- ################################################## -->
                        <!-- <div class="btn-group" role="group" aria-label="..."> -->
                            <button id="stand_button" type="button" class="btn btn-default" style="font-size:24px">Stand
                                up </button>
                            <button id="sit_button" type="button" class="btn btn-default" style="font-size:24px">Sit
                                down </button>
                            <button id="walk_button" type="button" class="btn btn-default" style="font-size:24px">Walk
                                Ready </button>
                            <button id="thankyou_button" type="button" class="btn btn-default"
                                style="font-size:24px">Thank you </button>
                            <button id="stop_button" type="button" class="btn btn-default" style="font-size:24px">Stop
                            </button>
                        <!-- </div> -->

                    </div>
                </div>
            </div>
        </div>
    </div>


    <script src={% static "roslibjs/easeljs.min.js" %}></script>
    <script src={% static "roslibjs/eventemitter2.min.js" %}></script>
    <script src={% static "roslibjs/roslib.min.js" %}></script>
    <script src={% static "roslibjs/ros2d.js" %}></script>
    <script src={% static "roslibjs/nav2d.js" %}></script>
    <script>

        var ros = new ROSLIB.Ros();
        // ros.connect('ws://{{ baseurl }}:9090');
        ros.connect('ws://127.0.0.1:9090');

        ros.on('connection', function () {
            console.log('Connected to websocket server.');
        });

        ros.on('error', function (error) {
            console.log('Error connecting to websocket server: ', error);
        });

        ros.on('close', function () {
            console.log('Connection to websocket server closed.');
        });

        //initial position
        var OP3Command = new ROSLIB.Topic({
            ros: ros,
            name: '/robotis/base/ini_pose',
            messageType: 'std_msgs/String'
        });

        function sendOP3Command(command) {
            var init_command = new ROSLIB.Message({
                data: command
            });
            OP3Command.publish(init_command);

        }

        //controll module selection
        var ModuleCommand = new ROSLIB.Topic({
            ros: ros,
            name: '/robotis/enable_ctrl_module',
            messageType: 'std_msgs/String'
        });

        function sendModuleCommand(command) {
            var init_command = new ROSLIB.Message({
                data: command
            });
            ModuleCommand.publish(init_command);

        }

        //action control module controls
        var ActionCommand = new ROSLIB.Topic({
            ros: ros,
            name: '/robotis/action/page_num',
            messageType: 'std_msgs/Int32'
        });

        function sendActionCommand(command) {
            var init_command = new ROSLIB.Message({
                data: command
            });
            ActionCommand.publish(init_command);

        }

        //head control module controls
        var HeadControl = new ROSLIB.Topic({
            ros: ros,
            name: '/robotis/head_control/set_joint_states',
            messageType: 'sensor_msgs/JointState'
        });

        // pose = (pan/tilt)degree*3.1415/180;
        // joint = head_pan, head_tilt

        function sendHeadCommand(joint, pose) {
            var head_motion = new ROSLIB.Message({
                name: joint,
                position: pose
            });
            HeadControl.publish(head_motion);
        }
        function myFunction() {
            sendActionCommand(15);
            console.log('sit_button');
}

        // $(function () 
        $( document ).ready(function(){
            $('#init_button').click(function () {
                sendOP3Command("ini_pose");
            });
            $('#online_button').click(function () {
                sendModuleCommand("online_walking_module")
            });
            $('#action_button').click(function () {
                sendModuleCommand("action_module")
            });
            $('#head_button').click(function () {
                sendModuleCommand("head_control_module")
            });
            $('#stand_button').click(function () {
                sendActionCommand(1)
                console.log('stand_button');
            });
            $('#sit_button').click(function () {
                sendActionCommand(15)
                console.log('sit_button');
            });
            $('#thankyou_button').click(function () {
                sendActionCommand(4)
            });
            $('#walk_button').click(function () {
                sendActionCommand(9)
            });
            $('#walk_button').click(function () {
                sendActionCommand(-1)
            });
        });



    </script>

    {% endblock page_content %}