{% extends 'topbar.html' %}

{% load static %}

{% block nav_dashboard %}class="nav-item"{% endblock %}
{% block nav_teleop %}class="nav-item active"{% endblock %}
{% block nav_navigation %}class="nav-item"{% endblock %}
{% block nav_smarthome %}class="nav-item"{% endblock %}
{% block nav_health %}class="nav-item"{% endblock %}

{% block page_content %}

<!-- ################################################## -->

<!-- Begin Page Content -->
<div id="teleop_page_content">

    <!-- Page Heading -->
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-center text-gray-800">Tele control</h1>
        <!-- <a href="#" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i
                class="fas fa-download fa-sm text-white-50"></i> Generate Report</a> -->
    </div>

    <div class="row">

        <!-- Head camera column -->
        <div class="col-xl-4 col-lg-5">
            <div class="card shadow mb-4">
                <!-- Card Header - Dropdown -->
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                    <h6 class="m-0 font-weight-bold text-primary">HEAD CAMERA</h6>
                    <div class="dropdown no-arrow">
                        <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown"
                            aria-haspopup="true" aria-expanded="false">
                            <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
                        </a>
                        <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in"
                            aria-labelledby="dropdownMenuLink">
                            <div class="dropdown-header">Dropdown Header:</div>
                            <a class="dropdown-item" href="#">Action</a>
                            <a class="dropdown-item" href="#">Another action</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="#">Something else here</a>
                        </div>
                    </div>
                </div>
                <!-- Card Body -->
                <div class="card-body">
                    <!-- TODO: FIX BASE_URL issue -->
                    <!-- <img class="img-responsive center-block"
                                    src="http://{{ BASE_URL }}:8080/stream?topic=/robotis_op3/camera/image_raw" /> -->

                    <!-- To set the properties of the ros web server video stream:  https://wiki.ros.org/web_video_server -->

                    <!-- For Hitachi robot front camera in servicesim use: -->
                    <img class="img-fluid" src="http://127.0.0.1:8080/stream?topic=/archie/camera/image_raw" />
                    <!-- For OP3 camera resize to:
                            <img class="img-fluid" src="http://127.0.0.1:8080/stream?topic=/archie/camera/image_raw&width=640&height=480" /> -->
                </div>
            </div>
        </div>
        <!-- ##########%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%% -->
        <div class="card" shadow mb-4>
            <div class="card-header border-bottom">
                <ul class="nav nav-tabs card-header-tabs" id="cardTab" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active" id="overview-tab" href="#overview" data-toggle="tab" role="tab"
                            aria-controls="overview" aria-selected="true">#</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="example-tab" href="#example" data-toggle="tab" role="tab"
                            aria-controls="example" aria-selected="false">Example</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="example-tab" href="#example" data-toggle="tab" role="tab"
                            aria-controls="example" aria-selected="false">Example</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
                    </li>
                </ul>
            </div>
            <div class="card-body">
                <div class="tab-content" id="cardTabContent">
                    <div class="tab-pane fade show active" id="overview" role="tabpanel" aria-labelledby="overview-tab">
                        <h2 class="card-title text-primary text-center font-weight-bold">Manual control</h2>
                        <p class="card-text text-center">Choose a tab...</p>
                    </div>
                    <div class="tab-pane fade" id="example" role="tabpanel" aria-labelledby="example-tab">
                        <h5 class="card-title">Example Pane</h5>
                        <!-- <p class="card-text">...</p> -->
                        <div class="text-center">
                            <button id="stand_btn" type="button" class="btn btn-outline-primary"
                                style="font-size:24px">Stand
                                up </button>
                            <button id="sit_btn" type="button" class="btn btn-outline-primary"
                                style="font-size:24px">Sit
                                down </button>
                            <br><br>
                            <button id="thankyou_btn" type="button" class="btn btn-outline-primary"
                                style="font-size:24px">Thank
                                you </button>
                            <button id="oops_btn" type="button" class="btn btn-outline-primary"
                                style="font-size:24px">Oops... </button>
                            <button id="walk_btn" type="button" class="btn btn-outline-primary"
                                style="font-size:24px">Walk
                                Ready </button>
                            <button id="stop_btn" type="button" class="btn btn-outline-primary"
                                style="font-size:24px">Stop
                            </button>
                            <br><br><br>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <!-- ##########%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%% -->
        <!-- Area Chart -->
        <!-- <div class="col-xl-8 col-lg-7"> -->
        <div class="col-xl-4 col-lg-5">
            <div class="card shadow mb-4">
                <!-- Card Header - Dropdown -->
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                    <h6 class="m-0 font-weight-bold text-primary">MANUAL CONTROL</h6>
                    <!-- <div class="dropdown no-arrow">
                        <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown"
                            aria-haspopup="true" aria-expanded="false">
                            <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
                        </a>
                        <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in"
                            aria-labelledby="dropdownMenuLink">
                            <div class="dropdown-header">Dropdown Header:</div>
                            <a class="dropdown-item" href="#">Action</a>
                            <a class="dropdown-item" href="#">Another action</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="#">Something else here</a>
                        </div>
                    </div> -->
                </div>
                <!-- Card Body -->
                <div class="card-body">
                    <!-- ################################################## -->
                    <!-- <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12"> -->
                    <!-- <br /> -->
                    <!-- </div> -->
                    <div class="container">
                        <!-- <ul class="nav nav-tabs">
                            <li class="nav-item">
                                <a href="#" class="nav-link active">Action</a>
                            </li>

                            <li class="nav-item">
                                <a href="#" class="nav-link">Head control</a>
                            </li>

                            <li class="nav-item">
                                <a href="#" class="nav-link">Walk contol</a>
                            </li>

                            <li class="nav-item">
                                <a href="#" class="nav-link disabled">Disabled</a>
                            </li>
                        </ul> -->
                        <ul class="nav nav-tabs" id="manual_ctrl_Tab">
                            <li class="nav-item">
                                <a href="#manualctrl_tab" class="nav-link active" role="tab" data-toggle="tab">#</a>
                            </li>

                            <li class="nav-item">
                                <a href="#actionctrl_tab" class="nav-link" role="tab" data-toggle="tab">Action</a>
                            </li>

                            <li class="nav-item">
                                <a href="#headctrl_tab" class="nav-link" role="tab" data-toggle="tab">Head control</a>
                            </li>

                            <li class="nav-item">
                                <a href="#walkctrl_tab" class="nav-link" role="tab" data-toggle="tab">Walk contol</a>
                            </li>

                            <li class="nav-item">
                                <a href="#virtualjoystick_tab" class="nav-link" role="tab" data-toggle="tab">Joystick
                                    control</a>
                            </li>
                        </ul>
                        <div class="tab-content">
                            <div role="tabpanel" class="tab-pane fade in active" id="manualctrl_tab">
                                <!-- <br /><br /> <h3>TEKST!!!</h3> <br /><br /> -->
                            </div>

                            <div role="tabpanel" class="tab-pane fade" id="actionctrl_tab">
                                <!-- <div class="container"> -->
                                <!-- @@@@@@@@@@@@@@@@@@@@@@@@@@@ -->
                                <br>
                                <!-- <div class="text-center">
                                    <button id="stand_btn" type="button" class="btn btn-outline-primary"
                                        style="font-size:24px">Stand
                                        up </button>
                                    <button id="sit_btn" type="button" class="btn btn-outline-primary"
                                        style="font-size:24px">Sit
                                        down </button>
 -->
                                <!-- <button class="btn btn btn-outline-primary"><i class="fas fa-chevron-left fa-lg"></i>Click Me<i
                                                class="fas fa-chevron-right fa-lg"></i></button> -->
                                <!-- <br><br>
                                    <button id="thankyou_btn" type="button" class="btn btn-outline-primary"
                                        style="font-size:24px">Thank
                                        you </button>
                                    <button id="oops_btn" type="button" class="btn btn-outline-primary"
                                        style="font-size:24px">Oops... </button>
                                    <button id="walk_btn" type="button" class="btn btn-outline-primary"
                                        style="font-size:24px">Walk
                                        Ready </button>
                                    <button id="stop_btn" type="button" class="btn btn-outline-primary"
                                        style="font-size:24px">Stop
                                    </button>
                                    <br><br><br>
                                </div> -->
                                <!-- @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ -->
                                <!-- <center>
                                        <button type="button">Button 1</button>
                                        <button type="button">Button 2</button>
                                    </center> -->
                                <!-- </div> -->
                            </div>

                            <div role="tabpanel" class="tab-pane fade" id="headctrl_tab">
                                <br><br>
                                <h1>Simple ROS User Interface</h1>
                                <p>Connection status: <span id="status"></span></p>
                                <p>Last /txt_msg received: <span id="msg"></span></p>
                                <p>V cikala...: <span id="msg1"></span></p>

                            </div>

                            <div role="tabpanel" class="tab-pane fade" id="walkctrl_tab">
                                4
                            </div>

                            <div role="tabpanel" class="tab-pane fade" id="virtualjoystick_tab">
<br><br>
kjdfsdkkjsdfkjsdkfj okjhokhdf oikadf sdfosk
                                <div class="panel-body" id="joystick-panel">
                                    <div id="joystick-container"></div>
                                    <span id="result"></span>
                                </div>
                            </div>
                        </div>

                    </div>

                    <!-- ################################################## -->

                </div>
            </div>
        </div>
    </div>
</div>
</div>

<!-- <script src={% static "webrtc/signaling_channel.js" %}></script>
<script src={% static "webrtc/main.js" %}></script> -->
<script src={% static "virtualjoystick/virtualjoystick.js" %}></script>
<script src={% static "js/uiapp_virtualjoystick.js" %}></script>
<script src={% static "roslibjs/easeljs.min.js" %}></script>
<script src={% static "roslibjs/eventemitter2.min.js" %}></script>
<script src={% static "roslibjs/roslib.min.js" %}></script>
<script src={% static "roslibjs/ros2d.js" %}></script>
<script src={% static "roslibjs/nav2d.js" %}></script>
<script>
    var statusmsg = 'empty';
    var ros = new ROSLIB.Ros();
    // ros.connect('ws://{{ baseurl }}:9090');
    ros.connect('ws://127.0.0.1:9090');

    ros.on('connection', function () {
        console.log('Connected to websocket server.');
        document.getElementById("status").innerHTML = "Connected";
    });

    ros.on('error', function (error) {
        console.log('Error connecting to websocket server: ', error);
    });

    ros.on('close', function () {
        console.log('Connection to websocket server closed.');
    });
    // ###################################
    ros.on('connection', function () {

    });

// ######## VIRTUAL JOYSTICK #############


// ######### END VIRTUAL JOYSTICK ##############

    var my_listener = new ROSLIB.Topic({
        ros: ros,
        // name: '/robotis/status',
        name: '/archie/status',
        messageType: 'robotis_controller_msgs/StatusMsg'
    });

    my_listener.subscribe(function (message) {
        // https://stackoverflow.com/questions/53676731/roslibjs-subscribe-to-topic-with-custom-messages
        console.log("Poluchi message!!!!");
        console.log(message.module_name);
        console.log(message.status_msg);
        console.log(message.type);
        // console.log(m.data);
        //console.log(`Received message on'  ${listener.name}: ${JSON.stringify(message)}`);
        // document.getElementById("msg").innerHTML = m.data;
        document.getElementById("msg").innerHTML = message.status_msg;
        statusmsg = message.status_msg;

    });


    // ####################################
    //initial position
    var OP3Command = new ROSLIB.Topic({
        ros: ros,
        // name: '/robotis/base/ini_pose',
        name: '/archie/base/ini_pose',
        messageType: 'std_msgs/String'
    });

    function sendOP3Command(command) {
        var init_command = new ROSLIB.Message({
            data: command
        });
        OP3Command.publish(init_command);

    }

    //controll module selection
    var ModuleCommand = new ROSLIB.Topic({
        ros: ros,
        // name: '/robotis/enable_ctrl_module',
        name: '/archie/enable_ctrl_module',
        messageType: 'std_msgs/String'
    });

    function sendModuleCommand(command) {
        var init_command = new ROSLIB.Message({
            data: command
        });
        ModuleCommand.publish(init_command);

    }

    //action control module controls
    var ActionCommand = new ROSLIB.Topic({
        ros: ros,
        // name: '/robotis/action/page_num',
        name: '/archie/action/predefined_num',
        messageType: 'std_msgs/Int32'
    });

    function sendActionCommand(command) {
        var init_command = new ROSLIB.Message({
            data: command
        });
        ActionCommand.publish(init_command);

    }

    //head control module controls
    var HeadControl = new ROSLIB.Topic({
        ros: ros,
        // name: '/robotis/head_control/set_joint_states',
        name: '/archie/head_control/set_joint_states',
        messageType: 'sensor_msgs/JointState'
    });


    // pose = (pan/tilt)degree*3.1415/180;
    // joint = head_pan, head_tilt

    function sendHeadCommand(joint, pose) {
        var head_motion = new ROSLIB.Message({
            name: joint,
            position: pose
        });
        HeadControl.publish(head_motion);
    }
    function myFunction() {
        sendActionCommand(15);
        console.log('sit_button');
    }

    // $(document).ready(function () {
    $(function () {
        // Tabs:
        $('#manual_ctrl_Tab a[href="#actionctrl_tab"]').click(function () {
            sendModuleCommand("action_module")
            console.log("klikna action");
        });
        $('#manual_ctrl_Tab a[href="#headctrl_tab"]').click(function () {
            sendModuleCommand("head_control_module")
            console.log("klikna head");
        });
        $('#manual_ctrl_Tab a[href="#walkctrl_tab"]').click(function () {
            sendModuleCommand("online_walking_module")
            console.log("klikna walk");
        });
        // Buttons:
        $('#init_btn').click(function () {
            sendOP3Command("ini_pose");
        });
        $('#stand_btn').click(function () {
            sendActionCommand(1)
            console.log('stand_button');
        });
        $('#sit_btn').click(function () {
            sendActionCommand(15)
            console.log('sit_button');
        });
        $('#thankyou_btn').click(function () {
            statusmsg = 'predi';
            console.log('predi ' + statusmsg);
            sendActionCommand(4);
            statusmsg = 'sled';
            console.log("sled " + statusmsg);
            // statusmsg='Action_Finish';
            // while (statusmsg !== 'Action_Finish') {
            //     console.log("VATRE!!!!!    " +statusmsg);
            //     // document.getElementById("msg1").innerHTML = message.status_msg;
            // }
            // alert("mina");
            // sendActionCommand(4);
        });
        $('#oops_btn').click(function () {
            sendActionCommand(27)
        });
        $('#walk_btn').click(function () {
            sendActionCommand(9)
        });
        $('#walk_btn').click(function () {
            sendActionCommand(-1)
        });
    });



</script>

{% endblock page_content %}